.table-title{
	font-size: 26px;
	padding: 10px;
	background-color: #444;
	color: #fff;
}
.table-simples, .table-th, .table-td{
	margin: 10px;
	border:1px solid #aaa;
	border-collapse: collapse;
	padding: 20px; 
	text-align: center;
	background-color: #888;
	color: #fff;
}
.table-th:hover,.table-td:hover{
	background-color: rgba(0,0,255,.5);
	transition: .40s ease-in-out;
}