*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.red{
	color: #ff0000;
}
.blue{
	color: #0000ff;
}
.black{
	color: #000;
}
.green{
	color: #009e1a;
}
.pink{
	color: #ea1081;
}
.grey{
	color: #aaa;
}
.white{
	color: #fff;
}
.lilac{
	color: #bd00c4;
}
.yellow{
	color:#eeff00;
}
.orange{
	color: #ffae00;
}
.back-red{
	background-color: #ff0000;
}
.back-green{
	background-color: #009e1a;
}
.back-orange{
	background-color: #ffae00;
}
.back-yellow{
	background-color: #eeff00;
}
.back-pink{
	background-color: #ea1081;
}
.back-grey{
	background-color: #aaa;
	opacity: 0.7;
}
.back-lilac{
	background-color: #bd00c4;
}
.back-black{
	background-color: #000;
}
.back-blue{
	background-color: #0000ff;
}
.back-white{
	background-color: #fff;
}
.in-com-icon{
	box-sizing: border-box;
	width: 290px;
	position: relative;
	display: inline-block;
}
.barra-nav{
	display: inline-block;
	border-radius: 5px;
	border:1px solid #aaa;
	margin: 10px;
	padding: 10px;
	outline: none;
	width: 240px;
}
.barra-nav-icon{
	display: inline-block;
	border-radius: 5px;
	border:1px solid #aaa;
	margin: 10px;
	padding: 10px 30px 10px 10px;
	outline: none;
	width: 220px;
}
.barra-nav-dois-icon{
	display: inline-block;
	border-radius: 5px;
	border:1px solid #aaa;
	margin: 10px;
	padding: 10px 30px 10px 30px;
	outline: none;
	width: 200px;
}
.b-red{
	border:1px solid #ff0000;
	transition: .50s ease-in-out;
}
input[name="borda-vermelha"]:focus{
	border:1px solid #ff0000;
	box-shadow: 0 0 3px 0 #ff0000;
}
.b-green{
	border:1px solid #009e1a;
	transition: .50s ease-in-out;
}
input[name="borda-verde"]:focus{
	border:1px solid #009e1a;
	box-shadow: 0 0 3px 0 #009e1a;
}
.b-grey{
	border:1px solid #aaa;
	transition: .50s ease-in-out;
}
input[class="barra-nav-icon b-grey"]:focus{
	border:1px solid #aaa;
	box-shadow: 0 0 3px 0 #aaa;
}
.erro{
	position: absolute;
	top: 19.2px;
	left: 248px;
	color: #ff0000;
}
.confirma{
	position: absolute;
	top: 19.2px;
	left: 248px;
	color: #009e1a;
}
.calendario{
	position: absolute;
	top: 19.2px;
	left: 20px;
	opacity: 0.7;
}
.fa-calendar{
	position: absolute;
	top: 19.2px;
	left: 20px;
}
.boneco{
	position: absolute;
	top: 19.2px;
	left: 20px;
	color: #aaa;
}
.pesquisa{
	opacity: 0.5;
	position: absolute;
	top: 19.2px;
	left: 248px;
}
.pesquisa-pass{
	opacity: 0.5;
	position: absolute;
	top: 19.2px;
	left: 20px;
}
.button-more{
	background-color: #e1e1e1;
	position: absolute;
	border-top-right-radius: 5px;
	top: 10px;
	left: 253px;
    border: 1px solid #aaa;
    color: white;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 19px;
    outline: none;
}
.button-more:active{
	border:1px solid grey;
	color: rgba(0,0,0,.5);
}
.button-anyless{
	background-color: #e1e1e1;
	position: absolute;
	border-bottom-right-radius: 5px;
	top: 28px;
	left: 253px;
    border: 1px solid #aaa;
    color: white;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 19px;
    outline: none;
}
.button-anyless:active{
	border:1px solid grey;
	color: rgba(0,0,0,.5);
}
.text-area{
	padding: 2.5px 7px;
	border-radius: 5px;
	margin: 10px;
	width: 254px;
	height: 160px;
	transition: none;
	outline: none;
}