*{
	margin-top:50px;
	padding: 0;
}
.header{
	margin: 50px auto;
	width: 475px;
	height: 480px;
	background-color: #eee;
}
.table-title{
	margin-top: 40px;
	font-size: 26px;
	padding: 10px;
	background-color: #444;
	color: #fff;
}
.table-simples, .table-th, .table-td{
	margin: 0 auto;
	border:1px solid #aaa;
	border-collapse: collapse;
	padding: 20px; 
	text-align: center;
	transition-duration: 1s;
	background-color: #888;
	color: #fff;
}
.table-th:hover,.table-td:hover{
	background-color: rgba(0,0,255,.5);
	transition-duration: 1s;
}