.notificacao-correto{
	margin: 10px;
	display: inline-block;
	padding: 0 25px;
	width: 400px;
	border-radius: 5px;
	position: relative;
}
.notificacao-certo{
	position: absolute;
	top: 8px;
	left: 12px;
}
.fecha{
	position: absolute;
	top: 8px;
	left: 420px;
}