.dropdown{
	-webkit-appearance:none;
	margin: 10px;
	padding: 10px 30px 10px 30px;
	border:1px solid #aaa;
	cursor: pointer;
	background-image: linear-gradient(to bottom,#fff,#f1f1f1);
	width: 250px;
	outline: none;
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
}
.dropdown:active{
	background-image: linear-gradient(to bottom,#f1f1f1,#f5f5f5);
}
.anima-blue{
	transition: .60s ease;
	margin: 10px;
	padding: 10px 10px 10px 30px;
	border:1px solid #aaa;
	cursor: pointer;
	background-image: linear-gradient(to bottom,#fff,#f1f1f1);
	width: 180px;
	outline: none;
	border-radius: 5px;
	display: inline-block;
}
.anima-blue:focus{
	border:1px solid #f2f2f2;
	width: 250px;
	box-shadow: 0 0 4px 0 #0000ff;
}
.drop-icon-all{
	position: relative;
	width: 270px;
	display: inline-block;
}
.fa-user-o{
	position: absolute;
	top: 18.5px;
	left: 20px;
}
.fa-angle-down{
	position: absolute;
	top: 18.5px;
	left: 233px;
	width: 10px;
	height: 10px;
	opacity: .4;
}
.drop-comum{
	-webkit-appearance:none;
	margin: 10px;
	padding: 10px 10px 10px 30px;
	border:1px solid #aaa;
	cursor: pointer;
	width: 250px;
	outline: none;
	border-radius: 5px;
	display: inline-block;
	background-color: #fff;
}
.drop-comum-icon{
	-webkit-appearance:none;
	margin: 10px;
	padding: 10px 30px 10px 30px;
	border:1px solid #aaa;
	cursor: pointer;
	width: 250px;
	outline: none;
	border-radius: 5px;
	display: inline-block;
	background-color: #fff;
}