.in-notificacao{
	margin: 10px;
	padding: 5px;
	display: inline-block;
	position: relative;
}
.lb-notificacao{
	padding:10px 40px 10px 35px;
	height: 36px;
	outline: none;
	border-radius: 4px;
}
.visto{
	position: absolute;
	top: 6px;
	left: 16px;
}
.fecha{
	position: absolute;
	top: 5px;
	left:315px;
	cursor: pointer;
}
.fecha-dois{
	position: absolute;
	top: 5px;
	left:425px;
	cursor: pointer;
}
.base-noti-icone{
	position: relative;
	width: 15px;
	margin: 10px;
	display: inline-block;
	padding:5px; 
}
.recado{
	position: absolute;
	content: '';
	text-align: center;
	min-width: 15px;
	top: -5px;
	left: 13px;
	border-radius: 1000px;
	padding:2px; 
	font-size: 12px;
}